extends layout

block content
    .row
      .col-md-4
        .card
          h2.card-header Hardware problems?
          p.card-body
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae velit hic quis 
            | nemo! Quia consequatur consectetur error alias. Aliquid, corporis cupiditate
            | dolorum officia animi nostrum culpa ex quae exercitationem asperiores!
      .col-md-4
        .card
          h2.card-header Software problems?
          p.card-body
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae velit hic quis 
            | nemo! Quia consequatur consectetur error alias. Aliquid, corporis cupiditate
            | dolorum officia animi nostrum culpa ex quae exercitationem asperiores!
      .col-md-4
        .card
          h2.card-header PC TuneUp
          p.card-body
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae velit hic quis 
            | nemo! Quia consequatur consectetur error alias. Aliquid, corporis cupiditate
            | dolorum officia animi nostrum culpa ex quae exercitationem asperiores!
