extends layout

block content
  h1 #{title}
  br
  each service in services
    .card
      h3.card-header #{service.name}
      p.card-body 
        | #{service.description}
        br
        br
        | Price Range: #{service.price}